/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 48%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
  background-color: #f2f2f2;
}

.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.header__container {
  padding-top: 3.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 9%;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.header .nav.open {
  visibility: visible;
  opacity: 1;
}
.header .nav__lists {
  margin: 0 auto;
  list-style: none;
  height: 21.2rem;
  width: 32.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  font-size: 1.8rem;
  font-weight: 500;
}
.header .nav__lists__item {
  padding: 2.4rem;
  border-bottom: 1px solid var(--color-white);
}
.header .nav__lists .link__item {
  text-decoration: none;
  color: black;
}
.header #navBtn {
  background: transparent;
  cursor: pointer;
  border: none;
}

.main {
  position: relative;
  transform: translateY(-4%);
}
.main__section {
  max-width: 32.7rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  background-color: white;
  border-radius: 1rem;
}

.mastercraft {
  position: relative;
  padding: 5.2rem 2.4rem 4rem 2.4rem;
  text-align: center;
}
.mastercraft__title {
  padding: 0 1rem;
  word-break: keep-all;
  font-size: 2rem;
}
.mastercraft__body {
  font-size: 1.4rem;
  margin: 1.6rem 0 2.4rem 0;
}
.mastercraft::before {
  content: url("../images/logo-mastercraft.svg");
  position: absolute;
  top: -13%;
  left: 40%;
}
.mastercraft__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats {
  padding: 3.2rem 0 4rem 0;
}
.stats__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-bottom: 3.2rem;
}
.stats__list .item-separator {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  width: 8rem;
  height: 0.1rem;
  background-color: var(--color-white);
}
.stats__list__item .item-emphasize {
  font-size: 3.2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.9rem;
}
.stats__list__item .item-normal {
  display: block;
  font-size: 1.4rem;
  color: var(--color-white);
}
.stats__progress {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 1.2rem;
  border-radius: 1rem;
  background-color: rgba(238, 238, 238, 0.8);
}
.stats__progress .progressed {
  width: 1px;
  height: 1.2rem;
  border-radius: 1rem;
  background-color: var(--color-moderate-cyan);
}

.project .project-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 27.9rem;
  margin: 0 auto;
}
.project .project-body-container {
  margin-top: 2.4rem;
  margin-bottom: 3.5rem;
}
.project__title {
  font-size: 1.8rem;
}
.project__body {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-white);
}
.project .funding {
  width: 100%;
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}
.project .funding .funding-container {
  padding: 2.4rem 0 4rem 2.4rem;
}
.project .funding__title {
  font-size: 1.4rem;
}
.project .funding__pledge {
  font-size: 1.4rem;
  color: var(--color-moderate-cyan);
  font-weight: 500;
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}
.project .funding__description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-white);
  margin-bottom: 2.4rem;
}
.project .funding__left {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.project .funding__left .text-b {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  margin-right: 0.8rem;
}
.project .funding__left .text-w {
  display: block;
  font-size: 1.5rem;
  color: var(--color-white);
}

.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}

.mastercraft__btn {
  background-color: var(--color-moderate-cyan);
  font-size: 1.6rem;
  color: white;
  padding: 1.4rem 4rem;
  border-radius: 2rem;
  text-decoration: none;
}

.reward-btn {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem 3.3rem;
  background-color: var(--color-moderate-cyan);
  font-weight: 700;
  border-radius: 3rem;
}

.modal-submit-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
  font-weight: 700;
}

.success-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  border: none;
  padding: 1.5rem 3.3rem;
  border-radius: 2rem;
}

.modal-outer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.modal {
  transform: translateY(10%);
}
.modal__back {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.modal__back-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
}
.modal__description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-white);
  margin-bottom: 2.4rem;
}
.modal__funding {
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  margin-bottom: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 0.9rem;
  padding-top: 3.2rem;
}
.modal__funding__pledge-container {
  display: flex;
  align-items: center;
  margin-bottom: 3.7rem;
}
.modal__funding__pledge-container .pledge-title {
  padding-left: 1.6rem;
  font-size: 1.4rem;
}
.modal__funding__pledge-container .pledge-texts {
  padding-left: 2rem;
  font-size: 1.4rem;
}
.modal__funding__pledge-container .pledge-texts__title {
  margin-bottom: 0.8rem;
}
.modal__funding__pledge-container .pledge-texts__pledge {
  color: var(--color-moderate-cyan);
  font-weight: 500;
}
.modal__left {
  margin-bottom: 3.4rem;
}
.modal__left .text-b {
  font-size: 1.8rem;
  font-weight: 700;
}
.modal__left .text-w {
  padding-left: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-white);
}
.modal__form-container {
  padding-top: 2.3rem;
  border-top: 1px solid var(--color-white);
  opacity: 1;
  display: none;
}
.modal__form {
  text-align: center;
}
.modal__form__fieldset {
  font-size: 1.4rem;
  color: var(--color-white);
  border: none;
}
.modal__form .form-submit-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}
.modal__form .input-container {
  position: relative;
}
.modal__form .input-container::after {
  position: absolute;
  content: "$";
  top: 27%;
  left: 25%;
  height: 1.2rem;
  width: 1.2rem;
}
.modal__form__input {
  max-width: 10rem;
  border: 1px solid var(--color-white);
  padding: 1.2rem 1.2rem 1.2rem 4rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal-outer-thanks {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.success {
  transform: translateY(40%);
  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 4rem;
}
.success .success-container {
  max-width: 27.9rem;
  margin: 0 auto;
}
.success .success-container .success-title {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.success .success-container .success-description {
  margin-bottom: 3.15rem;
}

/*
style the radio btn
*/
.radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  margin-bottom: 2.2rem;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-moderate-cyan);
}

/*# sourceMappingURL=main.css.map */
