/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/

// Google Font
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

// Font variable
$commissioner: "Commissioner", sans-serif;

// Colors
:root {
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 48%);
}

// Resetting
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $commissioner;
  background-color: #f2f2f2;
  // overflow: hidden;
}
.hide-scroll-bar {
  overflow: hidden;
}
.forbid-click {
  pointer-events: none;
  opacity: 0.5;
}
// this class is used when a product is out of stock so that users are not allowed to click the select button.
.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}
