.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 300px;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav {
      // visibility: hidden;
      position: relative;
      &::after {
        content: url("../images/icon-hamburger.svg");
        position: absolute;
        top: 35%;
        right: 0;
      }
      &__lists {
        list-style-type: none;
        transform: translateY(-100%);
      }
    }
  }
}

.main {
  transform: translateY(-4%);
  &__section {
    // transform: translateY(-30%);
    max-width: 32.7rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    background-color: white;
    border-radius: 1rem;
  }
}

.mastercraft {
  position: relative;
  padding: 5.2rem 2.4rem 4rem 2.4rem;
  text-align: center;

  &__title {
    padding: 0 1rem;
    word-break: keep-all;
    font-size: 2rem;
  }
  &__body {
    font-size: 1.4rem;
    margin: 1.6rem 0 2.4rem 0;
  }
  &::before {
    content: url("../images/logo-mastercraft.svg");
    position: absolute;
    top: -13%;
    left: 40%;
  }
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.stats {
  padding: 3.2rem 0 4rem 0;
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-bottom: 3.2rem;
    .item-separator {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
      width: 8rem;
      height: 0.1rem;
      background-color: var(--color-white);
    }
    &__item {
      .item-emphasize {
        font-size: 3.2rem;
        font-weight: 700;
        display: block;

        margin-bottom: 0.9rem;
      }
      .item-normal {
        display: block;
        font-size: 1.4rem;
        color: var(--color-white);
      }
    }
  }
  &__progress {
    margin: 0 auto;
    border: 1px solid red;
    width: 90%;
    height: 1.2rem;
  }
}

.project {
  .project-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 27.9rem;
    margin: 0 auto;
  }
  .project-body-container {
    margin-top: 2.4rem;
    margin-bottom: 3.5rem;
  }
  &__title {
    font-size: 1.8rem;
  }
  &__body {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-white);
  }
  .funding {
    width: 100%;
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    margin-bottom: 2.4rem;
    .funding-container {
      padding: 2.4rem 0 4rem 2.4rem;
    }
    &__title {
      font-size: 1.4rem;
    }
    &__pledge {
      font-size: 1.4rem;
      color: var(--color-moderate-cyan);
      font-weight: 500;

      margin-top: 0.8rem;
      margin-bottom: 2.4rem;
    }
    &__description {
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--color-white);

      margin-bottom: 2.4rem;
    }
    &__left {
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
      .text-b {
        display: block;
        font-size: 3.2rem;
        font-weight: 700;
        margin-right: 0.8rem;
      }
      .text-w {
        display: block;
        font-size: 1.5rem;
        color: var(--color-white);
      }
    }
  }
}
