.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  &__container {
    padding-top: 3.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    top: 9%;
    left: 0%;
    //initial state
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    &.open {
      visibility: visible;
      opacity: 1;
    }
    &__lists {
      margin: 0 auto;
      list-style: none;
      height: 21.2rem;
      width: 32.7rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: white;
      font-size: 1.8rem;
      font-weight: 500;
      &__item {
        padding: 2.4rem;
        border-bottom: 1px solid var(--color-white);
      }
      .link__item {
        text-decoration: none;
        color: black;
      }
    }
  }

  #navBtn {
    background: transparent;
    cursor: pointer;
    border: none;
  }
}

.main {
  position: relative;
  transform: translateY(-4%);
  &__section {
    max-width: 32.7rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    background-color: white;
    border-radius: 1rem;
  }
}

.mastercraft {
  position: relative;
  padding: 5.2rem 2.4rem 4rem 2.4rem;
  text-align: center;

  &__title {
    padding: 0 1rem;
    word-break: keep-all;
    font-size: 2rem;
  }
  &__body {
    font-size: 1.4rem;
    margin: 1.6rem 0 2.4rem 0;
  }
  &::before {
    content: url("../images/logo-mastercraft.svg");
    position: absolute;
    top: -13%;
    left: 40%;
  }
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.stats {
  padding: 3.2rem 0 4rem 0;
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-bottom: 3.2rem;
    .item-separator {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
      width: 8rem;
      height: 0.1rem;
      background-color: var(--color-white);
    }
    &__item {
      .item-emphasize {
        font-size: 3.2rem;
        font-weight: 700;
        display: block;

        margin-bottom: 0.9rem;
      }
      .item-normal {
        display: block;
        font-size: 1.4rem;
        color: var(--color-white);
      }
    }
  }
  &__progress {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 1.2rem;
    border-radius: 1rem;
    background-color: rgba(238, 238, 238, 0.8);
    .progressed {
      width: 1px;
      height: 1.2rem;
      border-radius: 1rem;
      background-color: var(--color-moderate-cyan);
    }
  }
}

.project {
  .project-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 27.9rem;
    margin: 0 auto;
  }
  .project-body-container {
    margin-top: 2.4rem;
    margin-bottom: 3.5rem;
  }
  &__title {
    font-size: 1.8rem;
  }
  &__body {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-white);
  }
  .funding {
    width: 100%;
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    margin-bottom: 2.4rem;
    .funding-container {
      padding: 2.4rem 0 4rem 2.4rem;
    }
    &__title {
      font-size: 1.4rem;
    }
    &__pledge {
      font-size: 1.4rem;
      color: var(--color-moderate-cyan);
      font-weight: 500;

      margin-top: 0.8rem;
      margin-bottom: 2.4rem;
    }
    &__description {
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--color-white);

      margin-bottom: 2.4rem;
    }
    &__left {
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
      .text-b {
        display: block;
        font-size: 3.2rem;
        font-weight: 700;
        margin-right: 0.8rem;
      }
      .text-w {
        display: block;
        font-size: 1.5rem;
        color: var(--color-white);
      }
    }
  }
}
.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}
