.mastercraft__btn {
  background-color: var(--color-moderate-cyan);
  font-size: 1.6rem;
  color: white;
  padding: 1.4rem 4rem;
  border-radius: 2rem;
  text-decoration: none;
}
.reward-btn {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem 3.3rem;
  background-color: var(--color-moderate-cyan);
  font-weight: 700;
  border-radius: 3rem;
}
.modal-submit-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
  font-weight: 700;
}
.success-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  border: none;
  padding: 1.5rem 3.3rem;
  border-radius: 2rem;
}
